<header class="card-header h3 font-weight-normal">
  <div class="container flex-row flex-end">
    <div class="user-avatar-wrapper">
      <app-user-avatar [userData]="authService.loggedUser" (userClick)="logOutVisible = !logOutVisible"></app-user-avatar>
      <div class="log-out" *ngIf="logOutVisible">
        <button class="btn btn-outline-secondary" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <h2 class="mb-3 mt-2">List of Users</h2>
    <div class="pt-2 pb-3" *ngIf="authService.loggedUser.role.toUpperCase() === roleEnum.admin">
      <app-add-user-form (updateList)="changeListHandler($event)"></app-add-user-form>
    </div>
    <!--  USER TABLE  -->
    <div *ngIf="userService.userList">
      <!--     USER LIST TABLE   -->
      <app-user-list [list]="userService.userList" (updateListItem) ="this.userIdToEdit = $event"
                     (itemDeleted)="changeListHandler($event)"></app-user-list>
      <app-edit-form (updateList)="changeListHandler($event); userIdToEdit = undefined"
                     (close)="userIdToEdit = undefined"
                     *ngIf="userIdToEdit" [userId]="userIdToEdit"></app-edit-form>
    </div>
  </div>
</main>
