<div class="card">
  <h5 class="card-header h3 font-weight-normal">Create Account</h5>
  <div class="card-body">
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <!--   NAME INPUT   -->
      <label for="name">Name:</label>
      <input id="name" class="form-control" [formControlName]="'name'" type="text" name="name"  autofocus>
      <!--    LOGIN INPUT  -->
      <label for="login">Login:</label>
      <input id="login" class="form-control" [formControlName]="'email'" type="email" name="email" placeholder="Email address">
      <!--    PASSWORD INPUT  -->
      <label for="password">Password:</label>
      <input id="password" [formControlName]="'password'" class="form-control" type="password">
      <!--   SUBMIT BUTTON   -->
      <button type="submit" class="btn btn-primary btn-block mt-4">Registration</button>
    </form>

    <!--  EMPTY FIELD VALIDATION  -->
    <div class="error cross-validation-error-message alert alert-danger mt-2" *ngIf="invalidForm">
      Invalid form input value
    </div>

  </div>
  <div class="card-footer text-right">
    <!--  LOGIN LINK  -->
    <span>
      <a [routerLink]="['/login']" routerLinkActive="$router_link-active$">Have an account?(Log In)</a>
    </span>
  </div>
</div>
