<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"></th>
    <th scope="col">User name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Created At</th>
    <th scope="col" *ngIf="authService.loggedUser.role.toUpperCase() === roleEnum.admin"></th>
  </tr>
  </thead>
  <!--   TABLE BODY   -->
  <tbody *ngIf="list; else loading">
  <tr *ngFor="let user of list.data">
    <th scope="row">{{ user.id }}</th>
    <td><i  [ngClass]="{ 'fa-user-o': user.role === 'user', 'fa-user-circle-o': user.role === 'admin' }"
            class="fa" aria-hidden="true"></i></td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.created_at | date  }}</td>
    <!--  FIELD EDIT  BUTTONS -->
    <td *ngIf="authService.loggedUser.role.toUpperCase() === roleEnum.admin" class="flex-row flex-end">
      <button class="btn btn-outline-secondary" (click)="updateUser(user.id)">Edit</button>
      <button class="btn btn-outline-danger ml-3" (click)="deleteUser(user.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- PAGINATION -->
<app-pagination (loadListPage)="loadListPage.next($event)" (changeCountPage)="changedPageCount.emit($event)"></app-pagination>

<ng-template #loading>
  <tbody>
  <tr>
    <td>Loading data...</td>
  </tr>
  </tbody>
</ng-template>
